$backgroundcolor: #654aff;
$textcolor: #524b77;
$iconcolor: #f0edff;
$white: #ffffff;
$textcolorlight: #8e39ff;

.headercolor{color: $backgroundcolor;}
.color{color: $textcolor;}
.horizontal{display:flex;flex-direction:row;justify-content:space-between;}
.vertical{display:flex;flex-direction:column;justify-content:space-between;}
.space-around{justify-content:space-around !important;}
.center-text{text-align:center;align-items: center;}
.marign{margin: 1rem 0 0 0}

* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Vollkorn', Arial, serif;
  font-size: 1em;
  border: none;
}

body {
  background-color: $backgroundcolor;
}

header
{
  background-color: white;
  display: flex;
}

#loginbtn
{
  width: 100%;
  max-width: fit-content;
  text-align: center;
  padding: 1.5em 1em 1.5em 1em;
  //margin: 10px 0 0 0;
  display: block;
  color: $textcolor;
  font-weight: bold;
  transition: .2s;
  margin-right: 10px;
}

#header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //border-bottom: 1px solid black;
  width: 90%;
  margin: auto;

}
//hello
#menu
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .menubtn
  {
    width: 100%;
    max-width: 150px;
    text-align: center;
    padding: 1.5em 1em 1.5em 1em;
    //margin: 10px 0 0 0;
    display: block;
    color: $textcolor;
    font-weight: bold;
    transition: .2s;

    &:hover
    {
      color: $textcolorlight;
    }
  }
}

#cardsec
{
  display: flex;
  flex-direction: row;
  //justify-content: space-evenly;
}

.card
{
  margin: 2rem 0 0 2rem;
  background-color: $white;
  width: 16rem;
  height: 20rem;
  border-radius: 5px;

  img
  {
    margin: 1rem 0 0 1.5rem;
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    //border: 1px solid black;
    border-radius: 5px;
  }
  .card-interface
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .prod-info
    {
      margin: .5rem 0 0 1rem;
      display: flex;
      flex-direction: column;
      max-width: fit-content;
    }
    .buy-button
    {
      background-color: $iconcolor;
      margin: 1.5rem 1rem 0 0;
      background-image: url("/img/cart.png");
      background-position: 50% 50%;
      background-size: 2rem;
      background-repeat: no-repeat;
      width: 3rem;
      height: 3rem;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

#createuser {

}